.container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 150px;

    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.info{
    width: 510px;
}

.info_desc{
    font-size: 20px;
    line-height: 30px;
    color: #4B5563;

    margin-top: 30px;
    margin-bottom: 35px;

}

.list_tutorial{
    margin-bottom: 15px;
    padding-bottom: 35px;
    border-bottom: 1px solid #F3F4F6;
}

.list_tutorial li{
    margin-bottom: 25px;
    /* padding-left: 40px; */
}

.listItem::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: var(--icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    font-size: 20px;
    line-height: 24px;
    color: #111827;
    font-weight: 700;
}

.desc{
    font-size: 18px;
    line-height: 20px;
    color: #6B7280;
    font-weight: 400;

    margin-top: 5px;
}

.dop{
    color: #9CA3AF;
    font-size: 16px;
}

.calculate_card {
    padding: 40px;
    border: 1px solid #F3F4F6;
    border-radius: 6px;
    width: 730px;
    min-height: 365px;

    /* padding-bottom: 0т ж; */
}

.row {
    display: flex;
    gap: 30px;
    width: 100%;

    margin-bottom: 20px;
}

.row fieldset {
    border: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.column {
    width: 100%;
}

.label_card {
    font-size: 18px;
    font-weight: 500;
    color: #111827;
    display: block;
    margin-bottom: 10px;
    
}

.input_card {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
    box-sizing: border-box;
    background-color: #fff;
}

.calculate_card input {
    background-color: white !important;
}


.checkbox_label {
    padding-left: 10px;
    cursor: pointer;
}

.calculate_card button {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-color: #1c2b4a;
    border-radius: 6px;
    cursor: pointer;
}

/* .check_custom {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #1c2b4a;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
} */

.check {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 24px; 
}

.checkbox_label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 0;
}

.calculate_output {
    margin-top: 35px;
    border-top: 1px solid #F3F4F6;

    animation: fall 0.4s ease forwards;
}

.calculate_output h3{
    margin-top: 40px;
    margin-bottom: 35px;

    font-size: 22px;
    color: #111827;
}

.calculate_output__info dl{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #F3F4F6;

    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
}

.calculate_output__info dt{
    color: #6B7280;
}

.calculate_output__info dd{
    color: #111827;
    font-weight: 600;
}

.total_price{
    margin-top: 30px;
    padding: 30px;
    background-color: #f9fafb;
    border-radius: 6px;

    font-weight: bolder;
}

.total_price>dl{
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    align-items: center;
}

.total_price>dl>dd{
    font-size: 30px;
    font-weight: bolder;
}

@keyframes fall {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}