@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    font-size: 14px;
}

h2{
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    color: #111827;
}


li, ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

select, select option, input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

