.container{
    width: 1200px;
    margin: 0 auto;

    margin-top: 150px;
    padding-bottom: 80px;
}

.contact_list{
    margin-top: 60px;
    display: flex;
    gap: 60px;
}

.contact_list li{
    border: 1px solid #9CA3AF;
    border-radius: 6px;
}

.contact_info{
    display: flex;
    padding: 25px 30px;
}

.contact_info span{
    display: block;
}

.title{
    font-size: 20px;
    line-height: 28px;
}

.subtitle{
    font-size: 18px;
    line-height: 22px;
    color: #292929;
    margin-top: 3px;
}

.subtitle::before{
    content: "";
    background-image: url("../../assets/icons/map.svg");
    display: inline-block;
    width: 17px;
    height: 23px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.number{
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}