.container{
    width: 1200px;
    margin: 0 auto;
}

.footer{
    padding-top: 90px;
    background: #1C2B4A;
    color: #9CA3AF;
    font-size: 16px;
    line-height: 20px;

    padding-bottom: 40px;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    
    /* align-items: center; */
}

.footer a:visited, .footer_nav a{
    color: #9CA3AF;
}

.footer a:hover{
    color: #fff;
}

.title{
    margin-bottom: 25px;
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    text-transform: uppercase;
}

.footer_item .about_text{
    max-width: 285px;
    margin-bottom: 25px;
}

.footer_item .about_social{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_item li{
    margin-bottom: 15px;
}

.footer_nav:last-child li{
    font-size: 14px;
}

/* .footer_nav:last-child>li::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../../assets/icons/map.svg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.title_last>span{
    display: block;
    color: #fff;
}

.dop_info{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.read{
    display: flex;
    gap: 25px;
}